@font-face {
    font-family: "Comic";
    src: url("../fonts/COMIC.TTF") format("truetype");
}
body{
    font-family: "Comic";
}
.bg1
{
    background-color:#F6511D;
}

.bg2
{
    background-color:#76c421;
}

.bg3
{
    background-color:#BA9F33;
}

.bg4
{
    background-color:#966B9D;
}

.bg5
{
    background-color:#ff0000;
}

.bg6
{
    background-color:#3f3f3f;
}