@font-face {
    font-family: "Comic";
    src: url("../fonts/COMIC.TTF") format("truetype");
}

html
{
    scroll-behavior: smooth;
}

body{
    font-family: "Comic";
}


.bg1
{
    background-color:#F6511D;
}

.bg2
{
    background-color:#76c421;
}

.bg3
{
    background-color:#BA9F33;
}

.bg4
{
    background-color:#966B9D;
}

.bg5
{
    background-color:#ff0000;
}

.bg6
{
    background-color:#3f3f3f;
}
.to_the_moon{
    width: 25%;
    position: absolute;
    z-index: 10;
    transform: rotate(-50deg);
    top: 10%;
    left: 83%
}
.wow1{
    transform: rotate(-50deg);
    color: pink;
}
.wow2{
    transform: rotate(50deg);
    color: red;
}
.wow3{
    transform: rotate(10deg);
    color: gold;
}
.wow4{
    transform: rotate(-5deg);
    color: purple;
}
@media (max-width: 1024px){
    .to_the_moon{
        width: 22%;
        position: absolute;
        z-index: 10;
        transform: rotate(-65deg);
        top: 17%;
        left: 80%
    }
}

.rainbow{
    background: linear-gradient(to right, red, orange , yellow, green, blue, purple, pink);
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbow 3s ease-in-out infinite;
    background-size: 800% 100%;
}
@keyframes rainbow {
    0% {
        background-position: 0 0;
        letter-spacing: 0px;
    }
    50% {
        background-position: 100% 0;
        letter-spacing: 5px;
    }
    100% {
        background-position: 0 0;
        letter-spacing: 10px;
    }
}
#myCarousel {
    height: 500px;
    width: auto;
    overflow:auto;
}

.fit
{
    max-height:500px;
}
.imgmod
{
    padding:0px;
    border:0px;
}

.imginmod
{
    border:15px solid black;
    border-radius:10px;
    width:97vw;
}

.transparent
{
    background-color:transparent;
    border:0px;
}

.doge
{
    margin-top:90px;
    margin-bottom:50px;
}

.doggos
{
    background-image: url("../../assets/img/ManyDoggos.jpg");
}